body{
  background-color: brown;
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1{
  font-size: 60px;
  color: antiquewhite;
}

.btn{
  width: 100px;
  padding: 5px;
  background-color: antiquewhite;
  display: inline;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
}